<%- include('../included/header.ejs') %>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1 class="centered">Sign up</h1>
      <form action="/signup" method="POST">
        <div class="form-group">
          <label for="first_name">first_name</label>
          <input
            type="text"
            class="form-control form-control-sm"
            first_name="first_name"
            id="first_name"
            placeholder="first_name"
          />
        </div>
        <div class="form-group">
            <label for="last_name">last_name</label>
            <input
              type="text"
              class="form-control form-control-sm"
              last_name="last_name"
              id="last_name"
              placeholder="last_name"
            />
          </div>
        <div class="form-group">
          <label for="email">email</label>
          <input
            type="email"
            class="form-control form-control-sm"
            name="email"
            id="email"
            placeholder="email"
          />
        </div>
        <div class="form-group">
          <label for="password">password</label>
          <input
            type="password"
            class="form-control form-control-sm"
            name="password"
            id="password"
            placeholder="password"
          />
        </div>
        <div class="form-group">
          <label for="phone">phone</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="phone"
            id="phone"
            placeholder="phone"
          />
        </div>
        <div class="form-group">
            <label for="birthday">birthday</label>
            <input
              type="text"
              class="form-control form-control-sm"
              name="birthday"
              id="birthday"
              placeholder="mm/dd/yy"
            />
          </div>

        <button type="submit">Post</button>
      </form>
    </div>
<%- include('../included/footer.ejs') %>



