<%- include('./included/header.ejs') %>

    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1 class="centered">Post type jobs</h1>
      <form action="type-jobs" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="name"
            id="name"
            placeholder="name"
          />
        </div>

        <div class="form-group">
          <label for="image">Image</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="image"
            id="image"  
            placeholder="image"
          />
        </div>
        <div class="form-group">
          <label for="subtitle">subtitle</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="subtitle"
            id="subtitle"
            placeholder="subtitle"
          />
        </div>
        <button type="submit">Post</button>
      </form>
    </div>
    <%- include('./included/footer.ejs') %>
